.container {
  @apply
    /* Sizing */
    w-full
    h-3xl
    [&>div]:w-full [&>div]:md:w-1/2
    [&>div]:h-1/2 [&>div]:md:h-full
    /* Spacing */
    [&>div]:p-5
    /* Flexbox & Grid */
    flex
    flex-col-reverse md:flex-row;
}

.containerReverse {
  @apply
    /* Flexbox & Grid */
    md:flex-row-reverse;
}

.demo {
  @apply
    /* Sizing */
    w-full md:w-2/3 lg:w-7/12
    h-full
    /* Spacing */
    px-4 md:px-0
    /* Layout */
    md:float-right
    /* Flexbox & Grid */
    flex
    flex-col
    md:justify-center
    gap-y-7 md:gap-y-8;
}

.demoReverse {
  @apply
    /* Layout */
    md:float-none;
}

.header {
  @apply
    /* Spacing */
    space-y-3 md:space-y-4;
}

.headingDark {
  @apply
   /* Typography */
   text-emah-dark;
}

.descriptions {
  @apply
    /* Spacing */
    space-y-2.5 sm:space-y-3
    /* Typography */
    font-proxima-soft-semibold
    text-sm md:text-[15px] lg:text-base
    leading-none;
}

.descriptionsDark {
  @apply
   /* Typography */
   text-emah-gray;
}

.imageContainer {
  @apply
    /* Sizing */
    w-full md:w-md
    h-full
    /* Flexbox & Grid */
    relative
    flex
    flex-col
    justify-center;
}

.imageContainerReverse {
  @apply
    /* Layout */
    md:float-right;
}

.image {
  @apply
    /* Sizing */
    w-full
    h-lg lg:h-xl
    /* Border */
    rounded-[11%]
    /* Background */
    bg-center
    bg-cover
    bg-hero;
}

.backgroundBranding {
  @apply
    /* Background */
    bg-branding;
}

.backgroundDesign {
  @apply
    /* Background */
    bg-design;
}

.backgroundDevelopment {
  @apply
    /* Background */
    bg-development;
}
