.hero {
  @apply
    /* Typography */
    leading-tight;
}

.section {
  @apply
    /* Spacing */
    pb-16
    mt-[1024px] sm:mt-[840px];
}

.header {
  @apply
    /* Sizing */
    max-w-4xl
    mx-auto
    /* Spacing */
    space-y-12 md:space-y-14
    /* Typography */
    text-center
    text-emah-dark;
}

.heading {
  @apply
    /* Typography */
    text-lg sm:text-xl md:text-2xl
    text-emah-gray;
}

.description {
  @apply
    /* Typography */
    text-2xl sm:text-2xl md:text-3xl
    leading-normal;
}

.showcase {
  @apply
    /* Spacing */
    mt-24
    space-y-36 md:space-y-40;
}