.section {
  @apply
    /* Spacing */
    mt-24 md:mt-0;
}

.footerDark {
  @apply
    /* Typography */
    text-emah-dark;
}

.philosophy {
  @apply 
    /* Sizing */
    h-lg md:h-xl
    /* Flexbox & Grid */
    grid
    place-content-center;
}

.philosophyHeader {
  @apply 
    /* Spacing */
    space-y-3
    /* Typography */
    text-center;
}

.philosophyHeading {
  @apply 
    /* Typography */
    text-lg md:text-xl
    opacity-80;
}

.philosophyDescription {
  @apply 
    /* Typography */
    font-proxima-soft-medium
    text-5xl md:text-6xl;
}

.foot {
  @apply
    /* Spacing */
    pb-12
    mx-auto
    /* Flexbox & Grid */
    flex flex-col md:flex-row
    justify-center md:justify-between
    items-center
    gap-y-5;
}

.footMail {
  @apply
    /* Typography */
    text-2xl
    underline;
}

.footAction {
  @apply
    /* Spacing */
    pt-2
    md:hidden;
}
