/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      /* Layout */
      overflow-x-hidden
      overscroll-y-none
      /* Typography */
      font-proxima-soft-regular
      text-white
      antialiased;
    text-rendering: optimizeLegibility;
  }

  *, *::before, *::after {
    @apply
      /* Layout */
      box-border
      /* Spacing */
      p-0
      m-0;
  }

  *:focus {
    @apply
      /* Border */
      outline-none;
  }

  a {
    @apply
      /* Typography */
      text-inherit
      no-underline;
  }

  h1, h2, h3 {
    @apply
      /* Typography */
      font-proxima-soft-medium;
  }

  /* h1 {
    @apply */
      /* Typography */
      /* text-5xl md:text-6xl;
  } */

  h2 {
    @apply
      /* Typography */
      text-4xl md:text-[40px] lg:text-5xl
      leading-none;
  }

  h3 {
    @apply
      /* Typography */
      text-4xl;
  }

  /* Proxima Nova Fonts */

  @font-face {
    font-family: Proxima Nova Semibold;
    src: url(../../public/fonts/proxima-nova/semibold.otf);
  }

  /* Proxima Soft Fonts */

  @font-face {
    font-family: Proxima Soft Thin;
    src: url(../../public/fonts/proxima-soft/thin.ttf);
  }

  @font-face {
    font-family: Proxima Soft Light;
    src: url(../../public/fonts/proxima-soft/light.ttf);
  }

  @font-face {
    font-family: Proxima Soft Regular;
    src: url(../../public/fonts/proxima-soft/regular.ttf);
  }

  @font-face {
    font-family: Proxima Soft Medium;
    src: url(../../public/fonts/proxima-soft/medium.ttf);
  }

  @font-face {
    font-family: Proxima Soft Semi Bold;
    src: url(../../public/fonts/proxima-soft/semibold.ttf);
  }

  @font-face {
    font-family: Proxima Soft Bold;
    src: url(../../public/fonts/proxima-soft/bold.ttf);
  }

  @font-face {
    font-family: Proxima Soft Extra Bold;
    src: url(../../public/fonts/proxima-soft/extrabold.ttf);
  }

  @font-face {
    font-family: Proxima Soft Black;
    src: url(../../public/fonts/proxima-soft/black.ttf);
  }

  /* Cairo Fonts */

  @font-face {
    font-family: Cairo Extra Light;
    src: url(../../public/fonts/cairo/extra-light.ttf);
  }

  @font-face {
    font-family: Cairo Light;
    src: url(../../public/fonts/cairo/light.ttf);
  }

  @font-face {
    font-family: Cairo Regular;
    src: url(../../public/fonts/cairo/regular.ttf);
  }

  @font-face {
    font-family: Cairo Medium;
    src: url(../../public/fonts/cairo/medium.ttf);
  }

  @font-face {
    font-family: Cairo Semi Bold;
    src: url(../../public/fonts/cairo/semi-bold.ttf);
  }

  @font-face {
    font-family: Cairo Bold;
    src: url(../../public/fonts/cairo/bold.ttf);
  }

  @font-face {
    font-family: Cairo Black;
    src: url(../../public/fonts/cairo/black.ttf);
  }

  /* TT Supermolot Neue Fonts */

  @font-face {
    font-family: TT Supermolot Neue Thin;
    src: url(../../public/fonts/tt-supermolot-neue/thin.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Extra Light;
    src: url(../../public/fonts/tt-supermolot-neue/extra-light.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Light;
    src: url(../../public/fonts/tt-supermolot-neue/light.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Regular;
    src: url(../../public/fonts/tt-supermolot-neue/regular.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Medium;
    src: url(../../public/fonts/tt-supermolot-neue/medium.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Demibold;
    src: url(../../public/fonts/tt-supermolot-neue/demibold.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Bold;
    src: url(../../public/fonts/tt-supermolot-neue/bold.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Bold;
    src: url(../../public/fonts/tt-supermolot-neue/bold.ttf);
  }

  @font-face {
    font-family: TT Supermolot Neue Black;
    src: url(../../public/fonts/tt-supermolot-neue/black.ttf);
  }
}
